body {
  background-color: #f8f9fa; /* Light gray background color */
}

.container {
  background-color: #ffffff; /* White container background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.app-header {
  color: #00263e; /* Navy blue text color */
}

.search-bar {
  margin-bottom: 20px;
}

.input-group input,
.input-group button {
  border-color: #00263e; /* Navy blue border color */
}

.input-group button {
  background-color: #ffc107; /* Golden button background color */
  color: #00263e; /* Navy blue text color for the button */
}

.found-items {
  text-align: left;
}

.list-group-item {
  background-color: #ffc107; /* Golden background color for list items */
  color: #00263e; /* Navy blue text color for list items */
  border-color: #00263e; /* Navy blue border color for list items */
  margin-bottom: 10px;
}
